*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a{
  color: #333;
  text-decoration: none;
}

.form-flex{
  display: flex;
  width: 100%;
}

.form-flex *{
  padding: 8px;
}

.form-flex-input{
  flex-basis: 90%;
}

.form-flex-btn{
  flex: 10%;
}